
.CountrySearch {
    background-image: url("https://s5.gifyu.com/images/World-food-background.png");
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    
}

.meals-grid-countries {
	display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
	grid-gap: 12.5px; 
	margin: 1.5rem;
}
.card-meal-countries {
	
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	grid-row: span 1;
	grid-column: span 1;
	border-radius: 0.5rem;
	max-height: unset;
	min-height: unset;
	width: unset;            
	margin: unset;

    
	.title-meal-countries {
		display: flex;
		font-size: 1.2rem;
		line-height: 1.5em;
		font-family: 'Raleway', ;
		font-weight: bolder;
		color: #2c2c2b;
		margin: 0.5rem;
		justify-content: center ;
		text-transform: uppercase;
		margin-top: 7%;

			
	}
}

.image-recipe-countries {
		
	height: auto;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	align-self: center;
	border-radius: 0.5rem;
	box-shadow: 10px 10px 37px -6px rgba(186,182,186,1);
	
}

.title-box-countries {
	position: absolute;
	width: 100%;
	height: 25%;
	background-color: rgba(255, 255, 255, 0.8);
	align-self: flex-end;
	align-items: center;
	border-radius: 0 0 0.5rem 0.5rem;
}

.input-searchbar-countries{
    margin: 2rem;
    width: 450px;
    height: 1.8em;
    font-size: 0.5 rem;
    font-family: 'Roboto', ;
	color: #3c4446;
    text-align: center;
    align-self: center;
    justify-content: center;
    background-color: rgba(248, 153, 29, 0.7);
    border: none;
    border-radius: 18px;
}

.another{
    font-size: 0.5 rem;
    font-family: Roboto;
	color: #3c4446;
    margin-top: 1rem;
}


@media only screen and (max-width:480px) { 
    /* Smartphone view: 1 tile */
    .card-meal {
        width: 100%;
    }
}
@media only screen and (max-width:650px) and (min-width:481px) { 
    /* Tablet view: 2 tiles */
    .card-meal {
        width: 50%;
    }
}
@media only screen and (min-width:651px) { 
    /* Small desktop / ipad view: 3 tiles */
    .card-meal {
        width: 33%;
    }
}

