canvas{
    outline:none;
    width: 800px !important;
    height: 420px !important;
}

@media screen and (min-width: 100px){
    body{
        canvas{
            width:45% !important;
        }
    }
}

