.cont-modal{
  display: flex;
  text-align: left;
  position: absolute;

}
.items-list-icons {
  list-style: none;
  
}

.fridge-logo {
	top: 20px;
	left: 45px;
	cursor: pointer;
	width: 70px;
	height: auto;
	-webkit-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
  margin: 20px 50px 2px 1px;

	&:hover {
		  width: 90px;
		  height: auto;
	}

	@media only screen and (max-width:770px) { 
		  /* Smartphone */
			   width: 10%;
			   height: auto;
	}
	@media (max-width: 991px){
		
			display:none;
		}
}	

.icon-contact {
  cursor: pointer;
  width: 70px;
  height: auto; 
  margin-top: 30px;
  -webkit-transition: width 1s, height 1s;
  transition: width 1s, height 1s;   
  &:hover {
    width: 90px;
    height: auto;
  }
  @media only screen and (max-width:770px) { 
    /* Smartphone */
        width: 40px;
        height: auto;
        margin-top: 560px;
        margin-left: 3px;    
    }
    @media only screen and (min-width:770px) { 
		  /* tablet */
			   width: 60px;
			   height: auto;
	}

}

.container-icon{
  display: flex;
  justify-content: space-between;
  img{
    padding-left: 10px;
  }
}

.container-mother{
  height: 50px;
  display: flex;
  margin-top: 20px;
}

.container-rrss1{
  width:100%;

}


.linkedin-icon1{
  margin-left:-16px;
}
.linkedin-icon2{
  margin-left:-14px;
}
.linkedin-icon3{
  margin-left:-16px;
}
.linkedin-icon4{
  margin-left:-16px;
}
.github-icon1{
  margin-left:-5px;
}
.github-icon2{
  margin-left:21px;
}
.github-icon3{
  margin-left:19px;
}
.github-icon4{
  margin-left:23px;
}
.in-circle{
  border-radius: 60%;
}


