.cont-modal{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  margin: 2vw 2vw 0 0;

}

.container-icon{
  display: flex;
  justify-content: space-between;
  img{
    padding-left: 10px;
  }
}

.container-mother{
  height: 50px;
  display: flex;
  margin-top: 20px;
}

.container-rrss1{
  width:100%;

}
.icon-contact {
  cursor: pointer;
  width: 3.5%;
  height: 3.5%;
  
}

.linkedin-icon1{
  margin-left:-16px;
}
.linkedin-icon2{
  margin-left:-14px;
}
.linkedin-icon3{
  margin-left:-16px;
}
.linkedin-icon4{
  margin-left:-16px;
}
.github-icon1{
  margin-left:-5px;
}
.github-icon2{
  margin-left:21px;
}
.github-icon3{
  margin-left:19px;
}
.github-icon4{
  margin-left:23px;
}
.in-circle{
  border-radius: 60%;
}
