.cont-modal{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  margin: 2vw 2vw 0 0;

}

.icon-contact {
  cursor: pointer;
  width: 4%;
  height: 4%; 
  -webkit-transition: width 1s, height 1s;
  transition: width 1s, height 1s;   
  &:hover {
    width: 10%;
    height: 10%;
  }
  @media only screen and (max-width:770px) { 
    /* Smartphone */
        // width: 10%;
        // height: 10%
        display: none;
    }
  
}



.modal-body{
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  margin-top: -32px;
  img{
    padding-top: 10px;
  }
}



.faces-icons {
  display: flex;
  flex-direction: column;
  width: 140px;
    img{
      height: auto;
      width: 7vw;
      margin-top:10px;
  }
  
}

.text-name{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 22px;

  img{
    height: auto;
    width: 3vw;
  }
  p{
    color:gray;
    font-weight:bold ;
    margin-top: 10px;
  }
  h5{
    margin-bottom: -28px;
  }
}



.icons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 130px;
  img{
    height: auto;
    width: 4vw;
  }
}

.github-icon{

}

.container-icon{
  display: flex;
  justify-content: space-between;
  img{
    padding-left: 10px;
  }
}

.container-mother{
  height: 50px;
  display: flex;
  margin-top: 20px;
}

.container-rrss1{
  width:100%;

}


.linkedin-icon1{
  margin-left:-16px;
}
.linkedin-icon2{
  margin-left:-14px;
}
.linkedin-icon3{
  margin-left:-16px;
}
.linkedin-icon4{
  margin-left:-16px;
}
.github-icon1{
  margin-left:-5px;
}
.github-icon2{
  margin-left:21px;
}
.github-icon3{
  margin-left:19px;
}
.github-icon4{
  margin-left:23px;
}
.in-circle{
  border-radius: 60%;
}



.fridge-logo {
	background-image: url('https://s5.gifyu.com/images/fridge-icon-circle-stroke-06.png');
	position: fixed;
	top: 20px;
	left: 45px;
	cursor: pointer;
	width: 6%;
	height: 6%; 
	-webkit-transition: width 1s, height 1s;
	transition: width 1s, height 1s;

	&:hover {
		  width: 12%;
		  height: 12%;
	}

	@media only screen and (max-width:770px) { 
		  /* Smartphone */
			   width: 10%;
			   height: 10%;
	}
	@media (max-width: 991px){
		
			display:none;
		}
}	

.items-list-icons {
  list-style: none;
}
