//No clue what is this about, I need to ask...
@keyframes "App-logo-spin" {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/* Altered css for react project 2 */
body {
	background: url('https://s5.gifyu.com/images/food.jpg');
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.App {
	text-align: center;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-link {
	color: #61dafb;
}
input {
	margin-top: 200px;
	width: 450px;
	height: 1.8em;
	background-color: rgba(248, 153, 29, 0.24);
	border: none;
	border-radius: 18px;
	color: black;
	font-size: 1.5em;
}
.blue_color {
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		margin-left: 10px;
		width: 13px;
	}
}
p {
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.meals-grid {
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	// display: grid;
	// grid-template-columns: 1fr 1fr 1fr;
	// grid-template-rows: auto;
}
.card-meal {
 
	padding: 1rem;
    width: 100%;
    align-self: center;
    display: flex;
    position: relative;
    
    
    
	img {
		height: auto;
		width: 100%;
		margin-top: 5px;
        margin-bottom: 5px;
        align-self: center;
        border-radius: 0.5rem;
        box-shadow: 10px 10px 37px -6px rgba(186,182,186,1);;
	}
}
.title-box {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: rgba(255, 255, 255, 0.541);
    align-self: flex-end;
    align-items: center;
    
    

}

.title-meal {
    display: flex;
    font-size: 1rem;
    line-height: 1.5em;
    font-family: 'Raleway', ;
    font-weight: bolder;
	color: #2c2c2b;
    text-transform: uppercase;
    margin: 0.5rem;
    justify-content: center ;
	
}

.input-searchbar{
    margin: 2rem;
    font-size: 0.5 rem;
    font-family: 'Roboto', ;
	color: #3c4446;
	text-transform: uppercase;
    text-align: center;
    align-self: center;
    justify-content: center;
}
.another{
    font-size: 0.5 rem;
    font-family: Roboto;
	color: #3c4446;
    margin-top: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@media only screen and (max-width:480px) { 
    /* Smartphone view: 1 tile */
    .card-meal {
        width: 100%;
    }
}
@media only screen and (max-width:650px) and (min-width:481px) { 
    /* Tablet view: 2 tiles */
    .card-meal {
        width: 50%;
    }
}
@media only screen and (max-width:1050px) and (min-width:651px) { 
    /* Small desktop / ipad view: 3 tiles */
    .card-meal {
        width: 33.3%;
    }
}
@media only screen and (max-width:1290px) and (min-width:1051px) { 
    /* Medium desktop: 4 tiles */
    .card-meal {
        width: 25%;
    }
}
