.Ingredients {
	background-image: url("https://s5.gifyu.com/images/Ingredients-search--background.png ");
	min-height: 100vh;
	margin: 0 2rem;
	display: flex;
	flex-direction: column;
	
}

.meals-grid {
	display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
	grid-gap: 12.5px; 
	margin: 1.5rem;
}
.card-meal-ingredients {
	
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	grid-row: span 1;
	grid-column: span 1;
	border-radius: 0.5rem;
	max-height: unset;
	min-height: unset;
	width: unset;            
	margin: unset;
}

.title-meal-ingredients {
	display: flex;
	font-size: 1rem;
	line-height: 1.5em;
	font-family: 'Raleway', ;
	font-weight: bolder;
	color: #2c2c2b;
	// margin: 0.5rem;
	justify-content: center ;
	// text-transform: uppercase;
	// margin-top: 7%;

		
}

.image-recipe-ingredients {
		
	height: auto;
	width: 100%;
	align-self: center;
	border-radius: 0.5rem;
	box-shadow: 10px 10px 37px -6px rgba(186,182,186,1);
	
}

.title-box-ingredients {
	position: absolute;
	width: 100%;
	height: 25%;
	background-color: rgba(255, 255, 255, 0.8);
	// align-self: flex-end;
	align-items: center;
	border-radius: 0 0 0.5rem 0.5rem;
	display: flex;
	justify-content: center;
}


.input-searchbar-ingredients {
    margin: 2rem;
    width: 25rem;
    height: 1.8em;
    font-size: 0.5 rem;
    font-family: 'Roboto', ;
	color: #3c4446;
    text-align: center;
    align-self: center;
    justify-content: center;
    border: none;
    border-radius: 18px;
	background-color: #c2cd23a6;
}

input{
    &:focus{
        outline: none;
    }
}
input{
    &:focus{
        outline: none;
    }
}

.another{
    font-size: 0.5 rem;
    font-family: Roboto;
	color: #3c4446;
    margin-top: 1rem;
}


@media only screen and (max-width:480px) { 
    /* Smartphone view: 1 tile */
    .card-meal {
        width: 100%;
    }
}
@media only screen and (max-width:650px) and (min-width:481px) { 
    /* Tablet view: 2 tiles */
    .card-meal {
        width: 50%;
    }
}
@media only screen and (min-width:651px) { 
    /* Small desktop / ipad view: 3 tiles */
    .card-meal {
        width: 33.3%;
    }
}
@media only screen and (max-width:320px) { 
    /* Smartphone view: 1 tile */
	.input-searchbar-countries{
		margin: 2rem;
		width: 16rem;
	}
}
