body {
    background: url('https://s5.gifyu.com/images/food.jpg');
    font-family: 'Josefin Sans', sans-serif;
    }
   
 .btn.btn-secondary{
        background-color: #F8981D;
        border-color: #F8981D;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 15px;
    }    

    #close-button{
        background-color: #5bbcca;
        border-color: #5bbcca;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        padding: 3px 10px 3px 10px;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 10px;
    }    

    #close-button:hover {
        background-color: #F8981D;
        border-color: #F8981D;
      } 
 /* .modal-backdrop{
        background-color: #F8CB28;
    }  */
    .modal-footer .btn-primary {
        color: #fff;
        background-color: #F8981D;
        border-color: #F8981D;
       
    }

    .modal-title p{
        text-align:center;
        font-size: 2em;
        margin-top: 20px;
        font-weight: bold;
    }

    .modal-title h4{
        text-align:center;
        margin-bottom: 10px;
        font-size: 1.1em;
        padding-top: 15px;
        font-style: italic;
    }
    .list{
        text-align: left;
        font-size: 1.2em;
        line-height: 2rem;
        margin-bottom: -15px;
    }

    .list ol{
        list-style: decimal; 
    }

    //get rid of lines in modal

    #modal-header{
        border-bottom: none;
        padding: none;
        margin-right: 5%;
        margin-left: 5%;
    } 
//This change takes line out of modal
    #modal-footer{
        border-top: none;
    } 

//Hungry? modal button
    #modal-button{
        background-color: #5bbcca;
        border-color: #5bbcca;
        box-shadow: none;
    }

    #modal-button:hover {
        background-color: #F8981D;
        border-color: #F8981D;
      }
//This changes the transparent background color from the default grey to yellow
     .modal-backdrop.show {
        background-color: #F8CB28;
        opacity: 0.75;
     }

     

     