body {
    background: url('https://s5.gifyu.com/images/food.jpg');
    font-family: 'Josefin Sans', sans-serif;
    }
    /* .modalbox .box {
        background-color: rgba(0, 0, 0, 0.479);
        margin: 0 auto;
        min-width: 210px;
        padding: 80px;
        margin-top: 250px;
        }
        .modalbox .title {
        display: flex;
        justify-content: center;
        font-size: 22px;
        margin: 0;
        padding: 0 0 10px;
        text-transform: uppercase;
        color: #fff;
            }
        .modalbox .content {
        display: flex;
        justify-content: center;
        font-size: 18px;
        line-height: 22px;
        padding: 10px;
        color: #fff;
            }
        .modalbox .close {
        color: #fff;
        display: block;
        float: right;
        font-size: 22px;
        height: 25px;
        text-decoration: none;
            }
    .modalbox{
        display: none;
        position: fixed;
        z-index: 9999;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color:#333333;
        }
    .modalbox:target {
        display: block;
        outline: none;
    }
    .link-modal{
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding-top: 650px;
        padding-left: 15px;
    }*/


 .btn.btn-secondary{
        background-color: #F8981D;
        border-color: #F8981D;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        padding: 20px;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 15px;
    }    

 .modal-backdrop{
        background-color: #F8CB28;
    } 
    .modal-footer .btn-primary {
        color: #fff;
        background-color: #F8981D;
        border-color: #F8981D;
       
    }

    .modal-title p{
        margin-left: 170px;
        font-weight: bold;
    }

    //get rid of lines in modal
/* 
    .modal-header{
        border-bottom: none;
    } */