nav-fridge {
	align-content: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}
.navbar-collapse {
	display: flex !important;
	flex-basis: auto;
	justify-content: flex-end;
}
.fridge-logo {
	height: 60px;
	width: 40px;
	background-image: url('https://s5.gifyu.com/images/fridge-stroke-orange-01.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: fixed;
	top: 20px;
	left: 45px;
	
}
.navbar-nav {
	.nav-link.active {
		color: #5bbcca;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: bold;
	}
	.nav-link {
		color: #fb961f;
		font-weight: bold;
		&:hover {
			font-weight: bold;
			font-style: oblique;
		}
	}
}

@media (max-width: 991px){
	.fridge-logo{
		display:none;
	}
}