.nav-fridge {
	align-content: center;
	position: fixed;
	top: 0;
	width: 100%;
}
.navbar-collapse {
	display: flex !important;
	flex-basis: auto;
	justify-content: flex-end;
}
.fridge-logo {
	height: 60px;
	width: 40px;
	background-image: url('https://s5.gifyu.com/images/fridge-stroke-turquoise-01-01.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.navbar-nav {
	.nav-link.active {
		color: #5bbcca;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: bold;
	}
	.nav-link {
		color: #fb961f;
		font-weight: bold;
		&:hover {
			font-weight: bold;
			font-style: oblique;
		}
	}
}
.nav-fridge-bottom {
	display:flex;
	justify-content: space-evenly;

	ul {
		margin: 0px;
	}

}
.suggestion-icon {
	width: 9vw;
	align-self: center;
}
.ingredients-icon {
	width: 9vw;
}
.world-icon {
	width: 9vw;
}
.panic-fridge-icon {
	width: 9vw;
}

.navbar-footer {
	width: 100%;
    display: flex;
    list-style: none;
	justify-content: space-evenly;
	padding-inline-start: 0px;
	ul {
		margin: 0;
		
	}
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
	background-color: #938F90;
	display: inline-flex;
    flex-direction: row;
	justify-content: space-between;
	z-index: 9999;
	
}



@media (min-width: 992px){

	.footer {
		max-width: 960px;
		display: none;
	}
	}

@media (max-width: 503px){
	// .navbar-footer{
	// 	margin-left:-23px;
	// }
	.footer{
	.suggestion-icon {
			width: 11vw;
		}
		.ingredients-icon {
			width: 11vw;
		}
		.world-icon {
			width: 11vw;
		}
		.panic-fridge-icon {
			width: 11vw;
		}

	}
	
}

@media (min-width:564px) and (max-width:760px){
	.footer{
	.suggestion-icon {
			width: 7vw;
		}
		.ingredients-icon {
			width: 7vw;
		}
		.world-icon {
			width: 7vw;
		}
		.panic-fridge-icon {
			width: 7vw;
		}

	}
	
}

@media (min-width:760px) and (max-width:992px){
	.footer{
	.suggestion-icon {
			width: 5vw;
		}
		.ingredients-icon {
			width: 5vw;
		}
		.world-icon {
			width: 5vw;
		}
		.panic-fridge-icon {
			width: 5vw;
		}

	}
	
}


// #icon-contact-us {
// 	height: 40px;
// 	width: 40px;
// 	background-image: url('https://s5.gifyu.com/images/contact-us-icon-04.png');
// 	background-size: contain;
// 	background-repeat: no-repeat;
// 	background-position: center;
// }